body{
    background-color: #cccccc;
}
.holder{
    background-color: #efefef;
    margin: auto;
    width: 1024px;
    position: relative;
}
.whatsnew{
    color: #636363;
    font-size: 14px;
    position: relative;
    top: 7px;
    text-decoration: none;
    
}
a{
    border: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;
}
.justdaillogo{
    float: left;
    z-index: 20;

}
.section .head-right .head-list .button-top .button {
    background: #fe610c;
    border: 1px solid #fe610c;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    padding: 2px 5px;
    text-transform: capitalize;
    width: 90px;
}